.newTask label {
  display: block;
  width: 100%;
}

.newTask textarea {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
}

.newTask input {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
}
.newTask button {
  display: block;
  width: 100%;
  background-color: #6667ab;
  color: #fff;
  border: 1px solid #6667ab;
  padding: 0.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 10px;
}
